*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: o;
  overflow: hidden;
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans+Indic+Siyaq+Numbers:regular);
}

#canvas {
  border: 4px solid black;
}
